// GNU AGPL v3 License

// This file in its entirety was written by John Nunley and Grace Meredith.

@import "@baklavajs/plugin-renderer-vue3/dist/styles/variables.scss";

// change variables here
$color-connection-default: #b39a36;
$color-pattern-default: white;
$color-pattern-line: #ebe1e1;
$color-pattern-black: #ffebeb67;

@import "@baklavajs/plugin-renderer-vue3/dist/styles/styles.scss";
